<div class="details">
	<h2>{{ countryDetails.countryName }}</h2>
	
	<dl class="country-deets">
		<dt>Population of Country</dt>
			<dd>{{ countryDetails.population | number }}</dd>
		<dt>Area</dt>
			<dd>{{ countryDetails.areaInSqKm | number }}</dd>
		<dt>Capital</dt>
			<dd>{{ countryDetails.capital }}</dd>
		<dt>Population of Capital</dt>
			<dd>{{ capitalDetails.population | number }}</dd>
		<dt>Continent</dt>
			<dd>{{ countryDetails.continentName }}</dd>
		<dt>Timezone</dt>
			<dd>{{ timezoneDetails.timezoneId }}</dd>
		<dt>{{ neighbors.length }} Neighbors</dt>
			<dd><span ng-repeat="neighbor in neighbors"><a ng-href="#/countries/{{ neighbor.countryCode }}/capital">{{ neighbor.name }}</a><span ng-if="!$last">, </span></span></dd>
	</dl>

	<div class="graphics">
		<!-- flag image: ?? is two letter lowercase country code -->
		<img src="http://www.geonames.org/flags/x/{{ countryCode.toLowerCase() }}.gif" />
		<!-- map image: ?? is two letter uppercase country code -->
		<img id='myImage' src="http://www.geonames.org/img/country/250/{{ countryCode }}.png" />
	</div>
	
	<div class="btns">
		<a href="#/countries"><button>Back to Countries</button></a>
		<a href="#/"><button>Home</button></a>
	</div>

</div>